<div ng-controller="AccountInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h3><em><u>{{account.Name}}</u></em></h3>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Type</th>
							<td>{{account.Type}}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{account.Description}}</td>
						</tr>
						<tr>
							<th>Industry</th>
							<td>{{account.Industry}}</td>
						</tr>
						<tr>
							<th>Ownership</th>
							<td>{{account.Ownership}}</td>
						</tr>
						<tr>
							<th>Number Of Employees</th>
							<td>{{account.NumberOfEmployees}}</td>
						</tr>
						<tr>
							<th>Website</th>
							<td><a href="http://{{account.Website}}">{{account.Website}}</a></td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>{{account.Phone}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="well">
					<a href="#/accounts" class="btn btn-info btn-sm">Contacts by Account</a>&nbsp;&nbsp;&nbsp;
					<a href="#/opp_by_accts" class="btn btn-info btn-sm">Opportunities by Account</a>&nbsp;&nbsp;&nbsp;
					<span ng-show="isAccountServiceUP" class="ng-hide"><a href="#/account/e/{{account.Id}}" class="btn btn-success btn-sm">Update Account</a></span>&nbsp;&nbsp;&nbsp;
					<span ng-show="isAccountServiceUP" class="ng-hide"><a ng-click="delete(account.Id)" class="btn btn-danger btn-sm">Delete Account</a></span>&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>