<div ng-controller="ContactInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h3><em><u>{{contact.Salutation}}&nbsp;{{contact.Name}}</u></em></h3>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Title</th>
							<td>{{contact.Title}}</td>
						</tr>
						<tr>
							<th>Department</th>
							<td>{{contact.Department}}</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>{{contact.Phone}}</td>
						</tr>
						<tr>
							<th>Mobile Phone</th>
							<td>{{contact.MobilePhone}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{contact.Email}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="well">
					<a href="#/accounts" class="btn btn-info btn-sm">Contacts by Account</a>&nbsp;&nbsp;&nbsp;
					<a href="#/opp_by_accts" class="btn btn-info btn-sm">Opportunities by Account</a>&nbsp;&nbsp;&nbsp;
					<span ng-show="isContactServiceUP" class="ng-hide"><a href="#/contact/e/{{contact.Id}}" class="btn btn-success btn-sm">Update Contact</a></span>&nbsp;&nbsp;&nbsp;
					<span ng-show="isContactServiceUP" class="ng-hide"><a ng-click="delete(contact.Id)" class="btn btn-danger btn-sm">Delete Contact</a></span>&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<div ng-include src="'/partials/footer.html'"></div>
	</div>
</div>