<div ng-controller="EditOpportunityInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Opportunity Details</h2>
				<div>
					<a href="#/opp_by_accts">Back to Account List</a>
				</div>
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<!-- Display the opportunity detail form -->
				<form>
					<div class="form-group">
						<label for="Id">ID:</label>
						<input type="text" id="Id" class="form-control" ng-model="opportunity.Id" value="{{opportunity.Id}}" readonly="true"/>
					</div>
					<div class="form-group">
						<label for="Name" class="text-danger">Name:</label>
						<input type="text" id="Name" class="form-control" ng-model="opportunity.Name" value="{{opportunity.Name}}" placeholder="Name" required="true"/>
					</div>
					<div class="form-group">
						<label for="Description">Description:</label>
						<input type="text" id="Description" class="form-control" ng-model="opportunity.Description" value="{{opportunity.Description}}" placeholder="Description" required="false"/>
					</div>
					<div class="form-group">
						<label for="LeadSource">Lead Source:</label>
						<input type="text" id="LeadSource" class="form-control" ng-model="opportunity.LeadSource" value="{{opportunity.LeadSource}}" placeholder="Lead Source (Partner,etc.)" required="false"/>
					</div>
					<div class="form-group">
						<label for="StageName" class="text-danger">Status:</label>
						<input type="text" id="StageName" class="form-control" ng-model="opportunity.StageName" value="{{opportunity.StageName}}" placeholder="Status (Closed Won, Closed Lost, Open, etc.)" required="true"/>
					</div>
					<div class="form-group">
						<label for="CloseDate" class="text-danger">Close Date:</label>
						<input type="date" id="CloseDate" date-parser="MM/dd/yyyy" class="form-control input-md" ng-model="opportunity.CloseDate" value="{{opportunity.CloseDate}}" placeholder="Date yyyy-mm-dd" required="true"/>
					</div>
					<div class="form-group">
						<label for="Amount">Amount:</label>
						<input type="number" id="Amount" class="form-control" ng-model="opportunity.Amount" value="{{opportunity.Amount}}" placeholder="Amount" required="false"/>
					</div>
					<div class="form-group">
						<label for="NextStep">Next Step:</label>
						<input type="text" id="NextStep" class="form-control" ng-model="opportunity.NextStep" value="{{opportunity.NextStep}}" placeholder="Next Step" required="false"/>
					</div>
					<div class="well">
						<input type="submit" ng-click="update(opportunity)" class="btn btn-primary" value="Save"/>
						<input type="button" ng-click="reset()" class="btn btn-warning" value="Reset"/>
						<input type="button" ng-click="delete(opportunity.Id)" class="btn btn-danger" value="Delete"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
