<div ng-controller="OppAcctListController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
<!-- 				<img alt="logo" src="../images/sfdc.jpg" width="264" height="55">  -->
				<img alt="logo" src="../images/cnalogo.png">
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Name</th>
							<th>Type</th>
							<th>Opportunities</th>
						</tr>
					</thead>
					<tbody>
						<!-- Display each entry in a row -->
						<tr ng-repeat="account in accounts">
							<td><a href="#/account/e/{{account.Id}}"><img
									alt="update" src="../images/update.jpg"
									style="height: 16px; width: 16px;" /></a>&nbsp;&nbsp; <a
								href="#/accounts" ng-click="delete(account.Id)"><img
									src="../images/delete.jpg" style="height: 16px; width: 16px;"
									alt="Delete" /></a></td>
							<td><a href="#/account/{{account.Id}}">{{account.Name}}</a></td>
							<td>{{account.Type}}</td>
							<td><div
									ng-repeat="opportunity in account.Opportunities">
									<a href="#/opportunity/{{opportunity.Id}}">{{opportunity.Name}}</a>
								</div> <a href="#/opportunity/{{account.Id}}/new"><img alt="create"
									src="../images/create.jpg" style="height: 16px; width: 16px;" /></a></td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-include src="'/partials/footer.html'"></div>
	</div>
</div>
