<div ng-controller="EditAccountInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Account Details</h2>
				<div>
					<a href="#/accounts">Back to Account List</a>
				</div>
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<!-- Display the account detail form -->
				<form>
					<div class="form-group">
						<label for="Id">ID:</label>
						<input type="text" id="Id" class="form-control" ng-model="account.Id" value="{{account.Id}}" readonly="true"/>
					</div>
					<div class="form-group">
						<label for="Name" class="text-danger">Name:</label>
						<input type="text" id="Name" class="form-control" ng-model="account.Name" value="{{account.Name}}" placeholder="Account Name" required="true"/>
					</div>
					<div class="form-group">
						<label for="Description">Description:</label>
						<input type="text" id="Description" class="form-control" ng-model="account.Description" value="{{account.Description}}" placeholder="Description" required="false"/>
					</div>
					<div class="form-group">
						<label for="Type">Type:</label>
						<input type="text" id="Type" class="form-control" ng-model="account.Type" value="{{account.Type}}" placeholder="Account Type" required="false"/>
					</div>
					<div class="form-group">
						<label for="Industry">Industry:</label>
						<input type="text" id="Industry" class="form-control" ng-model="account.Industry" value="{{account.Industry}}" placeholder="Industry" required="false"/>
					</div>
					<div class="form-group">
						<label for="Ownership">Ownership:</label>
						<input type="text" id="Ownership" class="form-control" ng-model="account.Ownership" value="{{account.Ownership}}" placeholder="Ownership" required="false"/>
					</div>
					<div class="form-group">
						<label for="NumberOfEmployees">Number Of Employees:</label>
						<input type="number" id="NumberOfEmployees" class="form-control" ng-model="account.NumberOfEmployees" value="{{account.NumberOfEmployees}}" placeholder="Number Of Employees" required="false"/>
					</div>
					<div class="form-group">
						<label for="Website">Website:</label>
						<input type="text" id="Website" class="form-control" ng-model="account.Website" value="{{account.Website}}" placeholder="Website" required="false"/>
					</div>
					<div class="form-group">
						<label for="Phone">Phone:</label>
						<input type="text" id="Phone" class="form-control" ng-model="account.Phone" value="{{account.Phone}}" placeholder="Main Phone #" required="false"/>
					</div>
					<div class="well">
						<input type="submit" ng-click="update(account)" class="btn btn-primary" value="Save"/>
						<input type="button" ng-click="reset()" class="btn btn-warning" value="Reset"/>
						<input type="button" ng-click="delete(account.Id)" class="btn btn-danger" value="Delete"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
