<div ng-controller="EditContactInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Contact Details</h2>
				<div>
					<a href="#/accounts">Back to Account List</a>
				</div>
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<!-- Display the contact detail form -->
				<form>
					<div class="form-group">
						<label for="Id">ID:</label>
						<input type="text" id="Id" class="form-control" ng-model="contact.Id" value="{{contact.Id}}" readonly="true"/>
					</div>
					<div class="form-group">
						<label for="Salutation">Salutation:</label>
						<input type="text" id="Salutation" class="form-control" ng-model="contact.Salutation" value="{{contact.Salutation}}" placeholder="Salutation (Mr.,Ms.,Mrs.,Dr.,Prof.)" required="false"/>
					</div>
					<div class="form-group">
						<label for="FirstName" class="text-danger">First Name:</label>
						<input type="text" id="FirstName" class="form-control" ng-model="contact.FirstName" value="{{contact.FirstName}}" placeholder="First Name" required="true"/>
					</div>
					<div class="form-group">
						<label for="LastName" class="text-danger">Last Name:</label>
						<input type="text" id="LastName" class="form-control" ng-model="contact.LastName" value="{{contact.LastName}}" placeholder="Last Name" required="true"/>
					</div>
					<div class="form-group">
						<label for="Title">Title:</label>
						<input type="text" id="Title" class="form-control" ng-model="contact.Title" value="{{contact.Title}}" placeholder="Title" required="false"/>
					</div>
					<div class="form-group">
						<label for="Department">Department:</label>
						<input type="text" id="Department" class="form-control" ng-model="contact.Department" value="{{contact.Department}}" placeholder="Department" required="false"/>
					</div>
					<div class="form-group">
						<label for="Phone">Phone:</label>
						<input type="text" id="Phone" class="form-control" ng-model="contact.Phone" value="{{contact.Phone}}" placeholder="Main/Office Phone #" required="false"/>
					</div>
					<div class="form-group">
						<label for="MobilePhone">Mobile Phone:</label>
						<input type="text" id="MobilePhone" class="form-control" ng-model="contact.MobilePhone" value="{{contact.MobilePhone}}" placeholder="Mobile Phone #" required="false"/>
					</div>
					<div class="form-group">
						<label for="Email">Email:</label>
						<input type="text" id="Email" class="form-control" ng-model="contact.Email" value="{{contact.Email}}" placeholder="Email" required="false"/>
					</div>
					<div class="well">
						<input type="submit" ng-click="update(contact)" class="btn btn-primary" value="Save"/>
						<input type="button" ng-click="reset()" class="btn btn-warning" value="Reset"/>
						<input type="button" ng-click="delete(contact.Id)" class="btn btn-danger" value="Delete"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
