<div ng-controller="OpportunityInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h3><em><u>{{opportunity.Name}}</u></em></h3>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Description</th>
							<td>{{opportunity.Description}}</td>
						</tr>
						<tr>
							<th>Lead Source</th>
							<td>{{opportunity.LeadSource}}</td>
						</tr>
						<tr>
							<th>Status</th>
							<td>{{opportunity.StageName}}</td>
						</tr>
						<tr>
							<th>Close Date</th>
							<td>{{opportunity.CloseDate | date:'MM/dd/yyyy'}}</td>
						</tr>
						<tr>
							<th>Expected Revenue</th>
							<td>{{opportunity.ExpectedRevenue}}</td>
						</tr>
						<tr>
							<th>Is Closed?</th>
							<td>{{opportunity.IsClosed}}</td>
						</tr>
						<tr>
							<th>Did we win?</th>
							<td>{{opportunity.IsWon}}</td>
						</tr>
						<tr>
							<th>Next Step</th>
							<td>{{opportunity.NextStep}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-include src="'/partials/footer.html'"></div>
	</div>
</div>